<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel='stylesheet prefetch' href='bower_components/bootstrap/reset.min.css'>
    
    <link rel='stylesheet prefetch' href='bower_components/bootstrap/bootstrap.min.css'>
   <!--
    <script type="text/javascript" src="app/controllers/LoginController.js"> </script>
-->
        <script type="text/javascript" src="Encryption.js"></script>

<style>

.bg-1 { 
    background-color: #003263;  /* Green */
    color: #ffffff;
}
.center {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    
}

body{
 background-color: #003263;
  font-family: 'Roboto', sans-serif;

}
</style>



</head>
<body >
<div class="center bg-1 ng-cloak">
<div class="col-md-12" ng-controller="ResetController" ng-cloak >
      <h1 class="text-center">iFABx</h1>
      
      <form class="form" ng-submit="formReset()">
        <div class="col-md-4 col-md-offset-4">
          

		  <div class="form-group"  >
		  Old Password:
            <input type="password" class="form-control" ng-model="oldpassword" placeholder="Old Password" required=""/>
          </div> 

          <div class="form-group"  ng-model="searchAll">
		  New Password:
            <input type="password" class="form-control" ng-model="newpassword" placeholder="New Password" required=""/>
          </div>

		   <div class="form-group"  ng-model="searchAll">
          New Password:
            <input type="password" class="form-control" ng-model="renewpassword" placeholder="Re-enter New Password" required=""/>
          </div>
<div layout= "row" >
<div flex=25></div>
          <div class="form-group" flex=50  >
            <md-button  style="width:140px "type="submit"  class="btn btn-success"><font style="font-size:18px">Save</font></md-button>
           <span class="text-danger">{{ error }}</span>
          </div>

        </div> 
        

        
        
        
        
        
        
        
        
        
        
        
        
        </div>
      </form>
   
    </div>
    </div>
    </body>
    </html>