.box1
{
	
float: left;



    background: #DCDCDC;
  background: linear-gradient(white, grey);
    padding: 10px 5px 10px 8px;
	margin-top: 5px;
	margin-right: 1px;
	margin-left: 9px;
  width: 13vw;
    height: 180px;
    border-radius: 10px;
  box-shadow: 1px 1px 1px #888888;
 box-sizing: inherit;
   resize: vertical;
	
	}