
 <panel-widget flex title="" template="app/views/partials/profiles.html" class="fixed-height-widget" ></panel-widget>

<!-- 
<div id="listContainer" ng-controller="listController as ctrl" layout="row" layout-align="start stretch" ng-cloak><md-content>
             <md-list>
               <div layout-xs="row"; layout-sm="row" ; layout-md="row" ; layout-lg="row" ; layout-xl="row"  layout-align="start stretch" layout-wrap>
               
               <md-list-item class="md-3-line contact-item" ng-repeat="(index, contact) in ctrl.allContacts"
                  ng-if="ctrl.contacts.indexOf(contact) < 0">
          
                <div class="box1">
                  <div class="md-list-item-text compact">
                  <div layout-xs="row"; layout-sm="row" ; layout-md="row" ; layout-lg="row" ; layout-xl="row" layout-align="start stretch">
                   
                  <img ng-src="assets/images/einstein.jpg" class="md-avatar" alt="assets/images/einstein.jpg" />
             <div>
             </br>
                 <h3 style="text-align:center;color:blue;">{{contact.name}}</h3>
              
                     <p>{{contact.baseno}}</p>
                     </div>
                     </div>
                     
                     <h3  style="text-align:center;color:red;font-size:150%" >{{contact.growth}}</h3>
                     <p style="text-align:center;">{{contact.total}}</p>
                     <div layout-xs="row"; layout-sm="row" ; layout-md="row" ; layout-lg="row" ; layout-xl="row">
             &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
              <img ng-src="assets/images/star.svg" >
          
            &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
              <img ng-src="assets/images/alert.svg" >
</div>

</div>
                           </div>
     
                 </br>
				
               </md-list-item>
               
               </div>
               
            </md-list>
			
         </md-content>	 
	   </div>
	   <style>
	   .box1 {
	   float: left;
    background: #DCDCDC;

    margin-right: -7px;
    padding: 1px 5px 0 10px;
    width: 150px;
    height: 150px;
    border-radius: 7px;
 box-shadow: 10px 0px 10px #888888;
 box-sizing: initial;
   resize: both;
   
}
.l1{
width: 160px;
}

</style> -->