



<div  ng-controller="TransactionsController as vm">

<style>
::-webkit-scrollbar {
    width: 0.4em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #000000;
  outline: 1px solid #003263;
}
md-divider{

background-color: #ffffff;

}
table {
    border-collapse: collapse;
    width: 100%;
}
.table2 {
   height:530px;
  background-color:#003263;
}
.table1 {
   height:610px;
    width: 100%;
}
.border {

 width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 20px;

}
.button5 {
    background-color: #3C7193;
    color: black;
    border: 2px solid #808080;
}
.button1 {
 
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	width:98vw;
	
    margin: 5px 2px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;


}
.button2 {
 
	background-color: #4CAF50;
    border: none;
    color: white;
     padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	width:31.5vw;
	
    margin: 5px 3px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;


}

.button {
 
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	width:337px;
	
    margin: 5px 2px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;


}


th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.hello { background-color: #3C7193;}
.success { background-color: #003263;}
.align{
    text-align: right;}

.search1 {
background: linear-gradient(#828080, black);

}
.hello { background-color: #3C7193;}
.success { background-color: #003263;}

.hello { background-color: #3C7193;}

</style>



<md-toolbar style="background-color: #000000; " >
      <div class="md-toolbar-tools" layout-align="space-between center">
      
         <md-button aria-label="Go Back" ui-sref="home.profile" >
      <md-icon md-menu-origin="" md-svg-icon="assets/images/home.svg"></md-icon>
        </md-button>
		<h4>
		<font color='white'>{{baseName}}</font>
		</h4>
		
       <div layout="row"layout-align="start center">
                <a href="">
                <md-icon md-svg-icon="assets/images/Twitter.svg"></md-icon>
      </a>
&nbsp;
         
         <a href="">
          <md-icon md-svg-icon="assets/images/gmail.svg"></md-icon>
        </a>
   &nbsp;
    <!--   <a href="">
          <md-icon md-svg-icon="assets/images/skype.svg"></md-icon>
        </a> 
&nbsp;  -->  
          <a href="">
          <md-icon md-svg-icon="assets/images/maps.svg"></md-icon>
        </a>
&nbsp; 
       <a>
          <md-icon md-svg-icon="assets/images/questionmark.svg"></md-icon>
        </a>
&nbsp;
            <div  layout-align="end center" layout="column">
   
  <div  layout-wrap="" layout="row" layout-fill="" layout-align="space-between center" >
      
      <div layout="column" layout-align="center center">
        
        <md-menu md-offset="0 -7">
          <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-svg-icon="assets/images/dts3.svg"></md-icon>
          </md-button>
          <md-menu-content width="2" style=" background-color: #003263">
            <md-menu-item >
              <md-button  style=" background-color: #003263"  ng-click="">   <font color='white'> Settings</font> </md-button>
               
            </md-menu-item>
			<md-divider></md-divider>
            <md-menu-item >
              <md-button  style=" background-color: #003263" ui-sref="login"  ng-click="">  <font color='white'>  Logout </font></md-button>
               
           </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </div> 
        </div>
      </div>
    </md-toolbar> 


<div layout="row">


<div  flex-lg="20" flex-md="25" title="Company" class="hello" >
<div  style="padding:5px;display:table;" layout-align="center center" class="hello">

  <md-content class="hello">
  

    <div class=" table1">

<table>
<tr><form >
 <div>
     
        <input type="text" class="border"   placeholder=" Search..." ng-model="search">
    
  </form></tr>
  <tr ng-repeat="item in itemDetails | filter:search">
  <td><font color='white'> <a ng-click="select(item.security_name,item.security_code)"> {{ item.security_name }}</a></font>
    <br></br>
    
  
    <font size='2' color='white'>Last Traded on&nbsp&nbsp&nbsp:&nbsp {{ item.as_of_date}}</font></td>
  </tr>
   
</table>

</div>
    
    
    
    
    
     </div>
    
    
    
  </md-content>
</div>
<!-- end -->







<md-divider style="background-color:white"></md-divider>
<md-divider style="background-color:white"></md-divider>
<div flex ="80" flex-md="75"  title="CompanyDetails" class="hello" >




<!--<div  ng-controller="TransactionsController as vm"> -->

  <md-content class="md-padding hello">
  
<div layout="row"  layout-align="space between center">
   <div>
    <p><font size="4" color='white'>Display Period:
     </font>
      </p>
    
    
    </div> 
    
      
     <div>
      
    
  <md-button style="background-color:#003263;" class="md-raised"><font color="#ffffff">
        Week</font>
    </md-button></div>
     <div>
      
    
  <md-button   style="background-color:#003263;" class="md-raised"><font color="#ffffff">
       Month</font>
    </md-button></div>
    <div>
     <md-button  style="background-color:#003263;" class="md-raised" ><font color="#ffffff">
        Year</font>
    </md-button></div>
  </md-content>  
      
    
      
      
    
      
       </div>
      
      
      <p><font color='white'>Security Name: {{name}}</font>
    </p> 
      
      
      <md-content class="table2" >
     <table bgcolor="#003263" > <!--  style="width:100%"-->
  <tr bgcolor="#003263"> <font color='white'>
    
    <th><div ng-click="orderByMe('transaction_type')"><font color='white'>Txn Type </font></div></th>
    <th><div ng-click="orderByMe('trans_date')"><font color='white'>Txn Date</font></div></th>
    <th class="align"><div ng-click="orderByMe('price')"><font color='white'>Price</font></div></th>
     <th class="align"><div ng-click="orderByMe('units')"><font color='white'>Units</font></div></th>
     <th class="align"><div ng-click="orderByMe('investment_amt ')"><font color='white'>Amount</font></div></th>
  </tr>
  <tr ng-repeat="item in selected | orderBy:myOrderBy:reverse">
   
    <td><font color='#4bfc05'>{{item.transaction_type}}</font></td>
    <td><font color='white'>{{item.trans_date}}</font></td> 
    <td class="align"><font color='white'>{{item. price | number}}</font></td>
    <td class="align"><font color='white'>{{item.units | number}}</font></td>
    <td class="align"><font color='white'>{{item.investment_amt | number:0}}</font></td>
  </tr>
  
</table>
    
    </md-content>
    
    
    </div>
      
     </div>

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <div  layout ="row" layout-xs="column" hide-sm  hide-xs flex="100" ng-cloak>

<button style="background-color:#003263; border: 2px solid #808080;" class="button button5" ui-sref="home.personal"><md-icon md-svg-src="assets/images/accc.svg"></md-icon><font color='white'>  Profile</font></button>
	
	<button style="background-color:#003263; border: 2px solid #808080;" class="button button5" ui-sref="home.dashboard"> <md-icon md-svg-src="assets/images/dashboardw.svg"></md-icon>&nbsp;<font color='white'> Portfolio</font> </button>
	<button style="background-color:#3C7193; border: 2px solid #808080;" class="button button5" ui-sref="home.transactions"><md-icon md-svg-src="assets/images/moneyw.svg"></md-icon> <font color='white'> Transactions</font> </button>
	<button style="background-color:#003263; border: 2px solid #808080;" class="button button5" ui-sref="home.reports"><md-icon md-svg-src="assets/images/reportsw.svg"></md-icon> <font color='white'> Reports</font> </button>
	<button  style="background-color:#003263; border: 2px solid #808080;"class="button button5" ui-sref="home.calender"><md-icon md-svg-src="assets/images/cw.svg"></md-icon> <font color='white'> Calendar</font></button>
	<button style="background-color:#003263; border: 2px solid #808080;" class="button button5" ui-sref="home.alerts"> <md-icon md-svg-src="assets/images/warning.svg"></md-icon>&nbsp;<font color='white'> Alerts</font> </button>
	

</div>

<!-- Mobile Potrait -->
 
<div layout-xs="column" hide-gt-xs flex="100" ng-cloak>

<button style="background-color:#003263; border: 2px solid #808080;" class="button1 button5" ui-sref="home.personal"><md-icon md-svg-src="assets/images/accc.svg"></md-icon><font color='white'>  Profile</font></button>
	
	<button style="background-color:#003263; border: 2px solid #808080;" class="button1 button5" ui-sref="home.dashboard"> <md-icon md-svg-src="assets/images/dashboardw.svg"></md-icon>&nbsp;<font color='white'> Portfolio</font> </button>
	<button style="background-color:#3C7193; border: 2px solid #808080;" class="button1 button5" ui-sref="home.transactions"><md-icon md-svg-src="assets/images/moneyw.svg"></md-icon> <font color='white'> Transactions</font> </button>
	<button style="background-color:#003263; border: 2px solid #808080;" class="button1 button5" ui-sref="home.reports"><md-icon md-svg-src="assets/images/reportsw.svg"></md-icon> <font color='white'> Reports</font> </button>
	<button  style="background-color:#003263; border: 2px solid #808080;"class="button1 button5" ui-sref="home.calender"><md-icon md-svg-src="assets/images/cw.svg"></md-icon> <font color='white'> Calendar</font></button>
	<button style="background-color:#003263; border: 2px solid #808080;" class="button1 button5" ui-sref="home.alerts"> <md-icon md-svg-src="assets/images/warning.svg"></md-icon>&nbsp;<font color='white'> Alerts</font> </button>
	

</div>

<!-- Mobile Landscape & Ipad Potrait -->
 
<div layout-xs="column" hide-xs hide-lg hide-xl hide-md flex="100"   ng-cloak>

<button style="background-color:#003263; border: 2px solid #808080;" class="button2 button5" ui-sref="home.personal"><!--  <md-icon md-svg-src="assets/images/accc.svg"></md-icon> --><font color='white'>  Profile</font></button>
	
	<button style="background-color:#003263; border: 2px solid #808080;" class="button2 button5" ui-sref="home.dashboard"> <!--<md-icon md-svg-src="assets/images/dashboardw.svg"></md-icon> -->&nbsp;<font color='white'> Portfolio</font> </button>
	<button style="background-color:#3C7193; border: 2px solid #808080;" class="button2 button5" ui-sref="home.transactions"><!--<md-icon md-svg-src="assets/images/moneyw.svg"></md-icon> --><font color='white'> Transactions</font> </button>
	<button style="background-color:#003263; border: 2px solid #808080;" class="button2 button5" ui-sref="home.reports"><!--<md-icon md-svg-src="assets/images/reportsw.svg"></md-icon>--> <font color='white'> Reports</font> </button>
	<button  style="background-color:#003263; border: 2px solid #808080;"class="button2 button5" ui-sref="home.calender"><!--<md-icon md-svg-src="assets/images/cw.svg"></md-icon> --><font color='white'> Calendar</font></button>
	<button style="background-color:#003263; border: 2px solid #808080;" class="button2 button5" ui-sref="home.alerts"><!-- <md-icon md-svg-src="assets/images/warning.svg"></md-icon>-->&nbsp;<font color='white'> Alerts</font> </button>
	

</div>
 
 
